*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #801E1E;
    font-family: 'Otomanopee One', sans-serif;
}



.logo{
    color: rgb(226, 222, 222);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: white;
    letter-spacing: 3px;   
    font-weight: bold;
    font-size: 14px;
}

a:hover{
    background-color: firebrick;
}










    

    

    

    

    
