*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #801E1E;
    font-family: 'Otomanopee One', sans-serif;
}



.logo{
    color: rgb(226, 222, 222);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: white;
    letter-spacing: 3px;   
    font-weight: bold;
    font-size: 14px;
}

a:hover{
    background-color: firebrick;
}

section{
    font-size: 60px;
    float: left;
    width: 30%;
    height: 250px;
    text-align: center;
    padding-top: 60px;
    background-color: lightgray;

}
  
aside{
    float: right;
    width: 70%;
    height: 300px;
    text-align: center;
    padding-right: 4mm;
    padding-top: 10mm;
}

p{
    margin-bottom: 5mm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 20;
    padding-bottom: 5mm;
}

h1{
    font-size: 200;
    text-align: center;
}

#div1{
    padding-top: 10%;
}

h1{
    text-align: center;
    padding-top: 5mm;
    background-color: tomato;
    padding-bottom: 5mm;
}




    

    

    

    

    
